.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #5367cb;
}

.container__options {
  display: flex;
  width: 60%;
  height: 80%;
  flex-direction: column;
  justify-content: center;
}

.options__card {
  width: 80%;
  height: 240px;
  padding-bottom: 8px;
  margin: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}

.card__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  margin-bottom: 10px;
}
